<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ContractRemindeNotice.aspx.vb" Inherits="PresentationLayer_report_ContractRemindeNotice_aspx" %>

<%@ Register Assembly="JCalendar" Namespace="JCalendar" TagPrefix="cc1" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
        <script language="JavaScript" src="../js/common.js"></script>
</head>
<body>
    <form id="form1" runat="server">

     <table id="CRN" border="0" style="width: 100%">
            <tr>
                <td >
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td background="../graph/title_bg.gif" width="1%">
                                <img height="24" src="../graph/title1.gif" width="5" /></td>
                            <td background="../graph/title_bg.gif" class="style2" width="98%">
                                <asp:Label ID="titleLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="right" background="../graph/title_bg.gif" width="1%">
                                <img height="24" src="../graph/title_2.gif" width="5" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td >
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td background="../graph/title_bg.gif" class="style2" width="98%" >
                                <font color="red">
                                    <asp:Label ID="errlab" runat="server" Text="Label" Visible="false"></asp:Label></font></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <table id="crn" bgcolor="#b7e6e6" border="0" cellpadding="2" cellspacing="1" style="width: 100%">
                        <tr bgcolor="#ffffff">
                            <td align="right" style="width: 15%">
                                <asp:Label ID="coustomlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="right" style="width: 10%">
                                <asp:Label ID="coustomfromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%">
                                <asp:TextBox ID="coustomfrombox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                            <td align="right" style="width: 10%">
                                <asp:Label ID="coustomtolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 35%">
                                <asp:TextBox ID="coustomtoBox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="right" style="width: 15%">
                                <asp:Label ID="sercenterlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="right" style="width: 10%">
                                &nbsp;<asp:Label ID="sercenterfromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%">
                                <asp:TextBox ID="sercenterfrombox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                            <td align="right" style="width: 10%">
                                <asp:Label ID="sercentertolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%">
                                <asp:TextBox ID="sercentertoBox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="right" style="width: 15%">
                                <asp:Label ID="datelab" runat="server" Text="Label"></asp:Label>
                            </td>
                            <td align="right" style="width: 10%">
                                &nbsp;<asp:Label ID="datefromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%">
                                &nbsp;<asp:TextBox ID="datefrombox" runat="server" CssClass="textborder" ReadOnly="True" Width="80%"></asp:TextBox>
                                <asp:HyperLink ID="HypCalFrom" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif" ToolTip="Choose a Date">Choose a Date</asp:HyperLink>

                                &nbsp;<cc1:JCalendar ID="Calendar1" runat="server" ControlToAssign="datefrombox"
                                    ImgURL="~/PresentationLayer/graph/calendar.gif"  Visible =false />
                                &nbsp;&nbsp;
                            </td>
                            <td align="right" style="width: 10%">
                                &nbsp;<asp:Label ID="datetolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 35%">
                                <asp:TextBox ID="datetobox" runat="server" CssClass="textborder" Width="80%" ReadOnly="True"></asp:TextBox>&nbsp;
                                <asp:HyperLink ID="HypCalTo" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif" ToolTip="Choose a Date">Choose a Date</asp:HyperLink>

                                <cc1:JCalendar
                                    ID="Calendar2" runat="server" ControlToAssign="datetobox" ImgURL="~/PresentationLayer/graph/calendar.gif" Visible =false  />
                                &nbsp;
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="right" style="width: 15%">
                                <asp:Label ID="sernoLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="right" style="width: 10%">
                                &nbsp;<asp:Label ID="sernofromLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%">
                                <asp:TextBox ID="sernofromBox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                            <td align="right" style="width: 10%">
                                <asp:Label ID="sernotoLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 35%">
                                <asp:TextBox ID="sernotoBox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="right" style="width: 15%">
                                <asp:Label ID="statelab" runat="server" Text="Label"></asp:Label></td>
                            <td align="right" style="width: 10%">
                                <asp:Label ID="statefromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%">
                                <asp:TextBox ID="statefrombox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                            <td align="right" style="width: 10%">
                                <asp:Label ID="statetolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 35%">
                                <asp:TextBox ID="statetobox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="right" style="width: 15%;">
                                <asp:Label ID="promodlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="right" style="width: 10%;">
                                &nbsp;<asp:Label ID="promodfromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%; height: 28px;">
                                <asp:TextBox ID="promodfrombox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox>
                            </td>
                            <td align="right" style="width: 10%;">
                                &nbsp;<asp:Label ID="promodtolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 35%;">
                                <asp:TextBox ID="promodtobox" runat="server" CssClass="textborder" MaxLength="10"></asp:TextBox></td>
                        </tr>
                       
                    </table>
                    <asp:LinkButton ID="LinkButton1" runat="server">LinkButton</asp:LinkButton>
                   
                    </td>
            </tr>
        </table>
        
   
        <cr:crystalreportviewer id="CrystalReportViewerCRN" runat="server" autodatabind="true"></cr:crystalreportviewer>
    </form>
</body>
</html>

