<%@ Page Language="VB" AutoEventWireup="false" CodeFile="RPTSVOSVIEW_New.aspx.vb"
    Inherits="PresentationLayer.report.PresentationLayer_report_RPTSVOSVIEW_New" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Service Order Summary Overall</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <table id="uagTab" border="0" style="width: 100%">
        <tr>
            <td style="width: 100%">
                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                    <tr>
                        <td width="1%" background="../graph/title_bg.gif">
                            <img height="24" src="../graph/title1.gif" width="5">
                        </td>
                        <td class="style2" width="98%" background="../graph/title_bg.gif">
                            <asp:Label ID="titleLab" runat="server" Text="Label"></asp:Label>
                        </td>
                        <td align="right" width="1%" background="../graph/title_bg.gif">
                            <img height="24" src="../graph/title_2.gif" width="5">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 100%">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td background="../graph/title_bg.gif" class="style2" width="98%">
                            <font color="red">
                                <asp:Label ID="ErrLab" runat="server" Text="Label" Visible="False"></asp:Label></font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true"
        Style="width: 100%"></CR:CrystalReportViewer>
    </form>
</body>
</html>
