<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SalesByProduct.aspx.vb" Inherits="PresentationLayer_report_SalesByProduct" %>

<%@ Register Assembly="JCalendar" Namespace="JCalendar" TagPrefix="cc1" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Sale by product</title>
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
        
        <script language="JavaScript" src="../js/common.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <table id="sbp" border="0" style="width: 100%">
            <tr>
                <td  >
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td background="../graph/title_bg.gif" width="1%">
                                <img height="24" src="../graph/title1.gif" width="5" /></td>
                            <td background="../graph/title_bg.gif" class="style2" width="98%" style="width: 100%">
                                <asp:Label ID="titleLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="LEFT"background="../graph/title_bg.gif" width="1%">
                                <img height="24" src="../graph/title_2.gif" width="5" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td  >
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td background="../graph/title_bg.gif" class="style2" width="98%">
                                <font color="red" style="width: 100%">
                                    <asp:Label ID="errlab" runat="server" Text="Label" Visible="false"></asp:Label></font></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 100%" >
                    <table id="crn" bgcolor="#b7e6e6" border="0" cellpadding="2" cellspacing="1" style="width: 100%">
                        <tr bgcolor="#ffffff">
                            <td align="LEFT"style="width: 15%" >
                                <asp:Label ID="pricelab" runat="server" Text="Label"></asp:Label></td>
                            <td align="LEFT"style="width: 10%" >
                                <asp:Label ID="pricefromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" >
                                <asp:TextBox ID="pricefrombox" runat="server" CssClass="textborder" MaxLength="10">AAA</asp:TextBox></td>
                            <td align="LEFT"style="width: 10%" >
                                <asp:Label ID="pricetolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 30%">
                                <asp:TextBox ID="pricetoBox" runat="server" CssClass="textborder" MaxLength="10">ZZZ</asp:TextBox></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="LEFT"style="width: 15%">
                                <asp:Label ID="stateLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="LEFT"style="width: 10%" >
                                <asp:Label ID="statefromLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left">
                                <asp:TextBox ID="statefromBox" runat="server" CssClass="textborder" MaxLength="10">AAA</asp:TextBox></td>
                            <td align="LEFT"style="width: 10%" >
                                <asp:Label ID="statetoLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 30%">
                                <asp:TextBox ID="statetoBox" runat="server" CssClass="textborder" MaxLength="10">ZZZ</asp:TextBox></td>
                        </tr>
                         <tr bgcolor="#ffffff">
                            <td align="LEFT"style="width: 15%; ">
                                <asp:Label ID="datelab" runat="server" Text="Label"></asp:Label>
                            </td>
                            <td align="LEFT"style="width: 10%;">
                               <asp:Label ID="datefromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%;" >
                                <asp:TextBox ID="datefrombox" runat="server" CssClass="textborder" ReadOnly="false" MaxLength ="10"  Width="80%"></asp:TextBox>&nbsp;
                                
                                
                                <asp:HyperLink ID="HypCalFrom" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif" ToolTip="Choose a Date">Choose a Date</asp:HyperLink>

                                <cc1:JCalendar
                                    ID="Calendar1" runat="server" ImgURL="~/PresentationLayer/graph/calendar.gif" Visible =false  />
                              
                            </td>
                            <td align="LEFT"style="width: 10%; ">
                                <asp:Label ID="datetolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 30%;">
                                <asp:TextBox ID="datetobox" runat="server" CssClass="textborder" Width="80%" ReadOnly="false" MaxLength ="10"></asp:TextBox>&nbsp;&nbsp;
                                
                                <asp:HyperLink ID="HypCalTo" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif" ToolTip="Choose a Date">Choose a Date</asp:HyperLink>

                                
                                <cc1:JCalendar
                                    ID="Calendar2" runat="server" ControlToAssign="datetobox" ImgURL="~/PresentationLayer/graph/calendar.gif"  Visible =false />
                              
                            </td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="LEFT"style="width: 15%" >
                                <asp:Label ID="sercenterlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="LEFT"style="width: 10%" >
                                <asp:Label ID="sercenterfromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" >
                                <asp:TextBox ID="sercenterfrombox" runat="server" CssClass="textborder" MaxLength="10">AAA</asp:TextBox></td>
                            <td align="LEFT"style="width: 10%" >
                                <asp:Label ID="sercentertolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 30%">
                                <asp:TextBox ID="sercentertoBox" runat="server" CssClass="textborder" MaxLength="10">ZZZ</asp:TextBox></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="LEFT"style="width: 15%">
                                <asp:Label ID="categorylab" runat="server" Text="Label"></asp:Label>
                            </td>
                            <td align="LEFT"style="width: 10%">
                               <asp:Label ID="categoryfromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%">
                                <asp:TextBox ID="categoryfrombox" runat="server" CssClass="textborder">AAA</asp:TextBox>
                                
                            </td>
                            <td align="LEFT"style="width: 10%" >
                                <asp:Label ID="categorytolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 30%">
                                <asp:TextBox ID="categorytobox" runat="server" CssClass="textborder">ZZZ</asp:TextBox>
                                
                            </td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="LEFT"style="width: 15%" >
                                <asp:Label ID="partcodeLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="LEFT"style="width: 10%">
                                &nbsp;<asp:Label ID="partcodefromLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%">
                                <asp:TextBox ID="partcodefromBox" runat="server" CssClass="textborder" MaxLength="10">AAA</asp:TextBox></td>
                            <td align="LEFT"style="width: 10%">
                                <asp:Label ID="partcodetoLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 30%">
                                <asp:TextBox ID="partcodetoBox" runat="server" CssClass="textborder" MaxLength="10">ZZZ</asp:TextBox></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="LEFT"style="width: 15%">
                                <asp:Label ID="technicianlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="LEFT"style="width: 10%">
                                <asp:Label ID="technicianfromlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%">
                                <asp:TextBox ID="technicianfrombox" runat="server" CssClass="textborder" MaxLength="10">AAA</asp:TextBox></td>
                            <td align="LEFT"style="width: 10%">
                                <asp:Label ID="techniciantolab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 30%">
                                <asp:TextBox ID="techniciantobox" runat="server" CssClass="textborder" MaxLength="10">ZZZ</asp:TextBox></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="LEFT"style="width: 15%;">
                                <asp:Label ID="groupbylab" runat="server" Text="Label"></asp:Label></td>
                            <td align="LEFT"style="width: 10%;">
                                <asp:Label ID="priceidlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" style="width: 35%; ">
                                <asp:DropDownList ID="groupbyDrop" runat="server" Width="100%">
                                </asp:DropDownList></td>
                            <td align="LEFT"style="width: 10%;">
                               <asp:Label ID="includseritemlab" runat="server" Text="Label"></asp:Label></td>
                            <td align="left" width="35%" style="width: 30%;">
                                <asp:DropDownList ID="includeDrop" runat="server" Width="100%">
                                </asp:DropDownList></td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td align="left" style="width: 27%; height: 28px;">
                                <asp:Label ID="lblServiceBillType" runat="server" Text="Service Bill Type"></asp:Label></td>
                            <td align="left" style="width: 73%; height: 28px;" colspan =4>
                                <asp:DropDownList ID="cboServiceBillType" runat="server" Width="30%">
                                </asp:DropDownList></td>
                             
                            
                        </tr>
                       
                    </table>
                    <asp:LinkButton ID="LinkButton1" runat="server">LinkButton</asp:LinkButton></td>
            </tr>
        </table>
        
    </div>
        <CR:CrystalReportViewer ID="CrystalReportViewerSBP" runat="server" AutoDataBind="true" />
    </form>
</body>
</html>

