﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="Default2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>BlueBerry System</title>
	</head>
	<frameset border="0" frameSpacing="0" rows="90,*" frameBorder="NO" >
		<frame name="topFrame" marginWidth="0" marginHeight="" src="layout/header.aspx" noResize scrolling="no" >
		<frameset id="mainFrame" frameSpacing="2" borderColor="#776b7b" frameBorder="1" cols="20%,*" noresize scrolling="yes">
			<frame name="left" marginWidth="3" marginHeight="0" src="layout/outlook.aspx" noresize scrolling="no" bordercolor="#776b7b">
			<frame name="right" marginWidth="0" marginHeight="0" src="" frameBorder="no" noresize scrolling="yes" >
		</frameset>
	</frameset>
	<body>
	</body>
</html>
