.navbar
{
  height: 100%;  
  font-family: Arial;
  text-align: center;
  background-color: palegreen;	
}

.header
{
  height: 100%;  
  font-size: large;
  font-family: Arial;
  background-color: lavender;	
  text-align: center;
}

.footer
{
  height: 100%;  
  font-size: large;
  text-align: center;
  font-family: Arial;
  background-color: #776b7b;	
}

.content
{
  background-color: cornsilk;	
  font-family: Arial;
}
