body {
	background-color: #9ACC69;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#tabCalendar {
	background-color: #E9F3DA;
}
.dtHead  {
	background-color: #E9F3DA;
}
.dtHead .dtButton {
	color: #006600;
	background-color: #FFFFFF;
	border: 1px solid #006600;
	margin: 1px;
	height: 19px;
	font-size: 11px;
	padding-top: 2px;
}
.dtHead .dtText {
	color: #006600;
	background-color: #FFFFFF;
	border: 1px solid #006600;
	margin: 1px;
	font-size: 11px;
	height: 19px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.dtHead .dtOption {
	color: #006600;
	background-color: #FFFFFF;
	border: 1px solid #006600;
	margin: 1px;
	font-size: 11px;
	height: 19px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:100px;
}
.dtDateHead {
	background-color: #9ACC69;
	padding:1px;
	color:#000000;
	font-weight:bold;
}
.dtDate {
	background-color: #E9F3DA;
}
.dtDateButton {
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #006600;
}
.dtDateButtonSelect {
	color: #ffffff;
	background-color: #006600;
	border: 1px solid #006600;
}
.dtTime {
	background-color: #E9F3DA;
}
.dtAction {
	background-color: #9ACC69;
}
.dtButton {
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #006600;
	margin: 1px;
	height:19px;
}