@import url("helptip.css");
body {
	font-family: "Verdana", "Verdana", "Arial", "Helvetica", "sans-serif";
	margin: 0px;
}
p, td
{
	font-family: "Verdana", "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}
DIV.bodymain{
	margin-left:10px;
	margin-right:10px;
}
hr {
	color:#36AB23;
	height:1px;
}
input
{
	font-size: 12px;
}
select, textarea
{
	font-size: 12px;
	background-color: #fafafa;
	border-top: 1px inset #999999;
	border-right: 1px inset #CCCCCC;
	border-bottom: 1px inset #CCCCCC;
	border-left: 1px inset #999999;
}

form
{
	margin: 0px;
}


A:hover
{
	color: 4E7DD1;
	text-decoration: underline;
}
A
{
	color: #333333;
	text-decoration: underline;
}


TABLE
{
	font-size: 12px;
	color: black;
}

TFOOT
{
	background-color: #FEF4E2;
	font-size: 10px;
}

THEAD
{
	font-weight: bolder;
	margin: 5px;
	color: white;
	background-color: #749CDF;
	text-align: center;
	border-bottom-color:White;
}

.Button
{
	font-size: 12px;
	color: #ffffff;
	background-color: #71B747;
	font-family: "Verdana", "Verdana", "Arial", "Helvetica", "sans-serif";
	border-top: 1px solid #B7F5A0;
	border-right: 1px solid #4B7B31;
	border-bottom: 1px solid #4B7B31;
	border-left: 1px solid #B7F5A0;
}

.TextBox
{
	font: 12px "Verdana", Verdana, Arial, sans-serif;
	color: black;
	border: 1px solid #AAAAAA;
	background-color: transparent;

}
.TextboxRoWhiteBg {
	font: x-small Verdana, Arial, sans-serif;
	font-size: 12px;
	color: black;
	background-color: #FFFFFF;
	border: none;

}
.TextboxRoGrayBg {
	font: x-small Verdana, Arial, sans-serif;
	font-size: 12px;
	color: black;
	background-color: #f8f8f8;
	border: none;

}
.Error
{
	color: red;
}

.Panel
{
	width: 700;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #749EE9;
	border-right-color: #749EE9;
	border-bottom-color: #749EE9;
	border-left-color: #749EE9;
}

.GridHeader
{
	font-size: 12px;
	color: #006600;
	height: 20px;
	background-color: #E9F3DA;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";

}

.GridHeader A:link,.Grid_Header A:visited
{
	color:#164F85;
}
.GridHeader A:hover
{
	color:#164F85;
}

.GridGeneral
{
	font: 12px Verdana, Arial, sans-serif;
	color: black;
	border: 1px solid #FFFFFF;
	border-collapse:collapse;	
}

.GridGeneral TD
{
	border: 1px solid #9ACC69;
	color:#666666;
}

.GridItem
{
	font: 12px Verdana, Arial, sans-serif, "Verdana";
	vertical-align: baseline;
	color: black;
	background-color: white;
}



.GridAlternatingItem
{
	font: 12px Verdana, Arial, sans-serif;
	vertical-align: baseline;
	background-color: #f8f8f8;
}


.GridSelectedItem
{
	font: 12px Verdana, Arial, sans-serif;
	vertical-align: baseline;
	color: black;
	background-color: oldlace;
}
.GridPager
{
	font-size: 12px;
	color: #000000;
	height: 20px;
	background-color: #FFFFFF;
	text-align: right;
	padding: 2px;
}


.MenuTable
{
	padding: 0;
	font: x-small Verdana, Arial, sans-serif;
	color: yellow;
	background-color: darkblue;
	border-color:#4e7dd1;
	width: 700;
}
.MenuRow
{
	font: x-small Verdana, Arial, sans-serif;
	color: lightgreen;
}

A.MenuItem
{
	padding-right: 11px;
	padding-left: 2px;
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 2px;
	color: #000000;
	padding-top: 4px;
	font-family: verdana, "Verdana";
	height: 22px;
	background-color: #E4E9EB;
	text-align: center;
	text-decoration: none;
	background-image: url(../images/edi_navgradp0.gif);
	border-top: 1px solid #749EE9;
	border-right: 0px solid #749EE9;
	border-bottom: 1px solid #749EE9;
	border-left: 0px solid #749EE9;
	background-repeat: no-repeat;
	background-position: right;
	margin: 0px;
}

A.MenuItemCurrent
{
	padding-right: 11px;
	padding-left: 2px;
	font-size: 12px;
	padding-bottom: 2px;
	color: #FFFFFF;
	padding-top: 4px;
	font-family: verdana;
	height: 22px;
	background-color: #E4E9EB;
	text-align: center;
	text-decoration: none;
	border-top: 1px solid #749EE9;
	border-right: 0px solid #749EE9;
	border-bottom: 1px solid #749EE9;
	border-left: 0px solid #749EE9;
	background-image: url(../images/edi_navgradp.gif);
	background-repeat: no-repeat;
	background-position: right;
	margin: 0px;
	font-weight: bold;
}

A.MenuItem:hover
{
	font-size: 12px;
	text-decoration: underline;
	color: #000000;
}

A.MenuItemCurrent:hover
{
	font-size: 12px;
	text-decoration: underline;
	color: #FFFFFF;
}


.webfx-tree-container
{
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.webfx-tree-item
{
	padding: 0px;
	margin: 0px;
	font: icon;
	color: black;
	white-space: nowrap;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover
{
	margin-left: 3px;
	padding: 1px 2px 1px 2px;
}

.webfx-tree-item a
{
	color: black;
	text-decoration: none;
}

.webfx-tree-item a:hover
{
	color: darkblue;
	text-decoration: underline;
}

.webfx-tree-item a:active
{
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img
{
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon
{
	width: 16px;
	height: 16px;
}
.webfx-tree-item a.selected
{
	color: selectedtext;
	background: selected;
}

.webfx-tree-item a.selected-inactive
{
	color: windowtext;
	background: buttonface;
}


.LabelTitle
{
	font-weight: bold;
	color: #FFAF47;
	font-family: "Verdana";
	font-size: 13px;
	background-image: url(../images/arr.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 2px;
	padding-top: 1px;
}
.LabelTitle1
{
	font-weight: bold;
	color: #1C3D88;
	font-family: "Verdana";
	font-size: 12px;
	padding-bottom: 2px;
}



.fwlist{
	margin: 2px;
	color: #003399;


}
.fwlist option{
	color: 003399;
	background-color: F8F8F8;
}
.tips {
	color: #CC0000;
}
.divTable {
	padding: 2px;
	width: 700px;
}
.menu2 {
	background-color: #f2f2f2;
}
.menu2 TD {
	padding:3px
}
.menu2 A:link,.menu2 A:visited,.menu2 A:hover,.menu2 A:active{
	color:#2F2F2F;
}
.submenu{
	margin-left:10px;
	margin-right:20px;
}
.submenu A:link,.submenu A:visited,.submenu A:active{
	color: #2F2F2F;
	text-decoration: none;
}
.submenuSel{
	margin-left:10px;
	margin-right:20px;
}
.submenuSel A:link,.submenuSel A:visited,.submenuSel A:active{
	color: #1180CC;
	text-decoration: none;
}
.tableFrame{
	border: 1px solid #006600;
	width: 99%;
}
.tableAction{
	border-top: 1px solid #006600;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #E9F3DA;
}
fieldset {
	padding: 3px;
	border:1px solid #9ACC69;
	margin: 3px;
}
fieldset.fieldsetFocus {
	border:2px solid #9ACC69;
}
fieldset.fieldsetFocus legend{
	font-weight:bold;	
}
legend {
	color: #006600;

}
.searchBar {
	background-color: #006600;
}
.searchBar TD.searchBarHeader {
	color: #000000;
	background-color: #E9F3DA;
	font-weight: bold;

}
.searchBar TD.searchBarBody {
	background-color: #F5f5f5;
}
.searchBarlf {
	background-color: #dddddd;
}
.searchBarlf TD.searchBarHeader {
	color: #666;
	background-color: #eaeaea;
}
.searchBarlf TD.searchBarBody {
	background-color: #F5f5f5;
}

.FormBar {
	background-color: #006600;
	width: 99%;
}
.FormBarHeader {
	color: #000000;
	background-color: #E9F3DA;
	padding: 3px;
	font-weight: bold;

}
.FormBarBody {
	background-color: #FFFFFF;
}
.tableForm {
	color: #000000;
	border-collapse:collapse;
	border: 1px solid #FFFFFF;
}
.tableForm TD {
	padding:3px;
	border-top: 0px solid;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	border-left: 0px solid;
}
.TableHeader
{
	font-size: 12px;
	color: #666666;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
.tableFormA {
	color: #000000;
	border-collapse:collapse;
	border: 1px solid #FFFFFF;
}
.tableFormA TD {
	padding:3px;
	border-top: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
}
.tableA0 TD{
	padding:0px;
	border:none;
}.goback {
	background-color: #f2f2f2;
	text-align: right;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 99%;
}
.where {
	width: 99%;
	padding: 2px;
}
.MsgBar {
	background-color: #1380CC;
	width: 99%;
}
.MsgBar TD.MsgBarHeader {
	color: #CC0000;
	background-color: #ffffff;
	padding: 3px;
}
.MsgBar TD.MsgBarBody {
	background-color: #FFFFFF;
	padding: 0px;
}
.header {
	background-color: #1296D4;
	background-image: url(../images/header_bg.gif);
	background-repeat: no-repeat;
	height: 38px;
}
.headerLogo {
	padding: 0px;
}
.headerHelper TD{
	color: #ffffff;
}
.headerHelper {
	text-align: right;
	vertical-align: bottom;
}
.headerHelper A:link,.headerHelper A:visited,.headerHelper A:hover,.headerHelper A:active{
	color: #ffffff;
	text-decoration: none;
}
.navBar {
	background-color: #E9FAD8;
	background-image: url(../images/navbar_bg.gif);
	height: 28px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	background-repeat: repeat-x;
	color: #FFFFFF;
	padding-bottom: 3px;
	background-position:bottom;	
}
.navItems {
	text-align: center;
	padding: 5px 10px 3px;
	color: #006600;
	word-break : keep-all;
}
.navItems A:link,.navItems A:visited{
	color: #006600;
	text-decoration: none;

}
.navItems A:hover,.navItems A:active{
	color: #006600;
	text-decoration: underline;

}
.navItemsSel {
	text-align: center;
	padding: 5px 8px 4px;
	color: #000000;
	background-color: #9ACC69;
	word-break : keep-all;

}
.navItemsSel A:link,.navItemsSel A:visited{
	color: #000000;
	text-decoration: none;

}
.navItemsSel A:hover,.navItemsSel A:active{
	color: #000000;
	text-decoration: none;

}
.footer TD{
	background-color: #E9FAD8;
	text-align: center;
	padding: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9ACC69;
	font-family: "Verdana";
	font-size: 12px;
	color:#336600;
}
.leftBar {
	background-color: #FFFFFF;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #6C6C6C;
	width: 135px;
	vertical-align: top;
	height: 400px;
}
.leftBarTitle {
	background-color: #6C6C6C;
	height: 23px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding: 4px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.leftBarNavBar {
	padding-left: 3px;
	padding-left: 1px;
	padding-right: 1px;

}
TR.submenu TD.leftBarNavItems {
	color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006600;
	padding: 3px;
}
TR.submenu TD.leftBarNavItems A:link,TR.submenu TD.leftBarNavItems A:visited{
	color: #666666;
	text-decoration: none;
	width: 100%;
}
TR.submenu TD.leftBarNavItems A:hover,TR.submenu TD.leftBarNavItems A:active{
	color: #666666;
	text-decoration: underline;
	width: 100%;
}

TR.submenuSel TD.leftBarNavItems {
	color: #006600;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006600;
	padding: 3px;
	padding-left:6px;
	background-color:#FEFEFE;
}
TR.submenuSel TD.leftBarNavItems A:link,TR.submenuSel TD.leftBarNavItems A:visited{
	color: #006600;
	text-decoration: none;
	width: 100%;
}
TR.submenuSel TD.leftBarNavItems A:hover,TR.submenuSel TD.leftBarNavItems A:active{
	color: #006600;
	text-decoration: underline;
	width: 100%;
}
TR.submenuParent TD.leftBarNavItems {
	color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006600;
	padding: 3px;
	background-color:#FFFFFF;
}
TR.submenuParent TD.leftBarNavItems A:link,TR.submenuParent TD.leftBarNavItems A:visited{
	color: #666666;
	text-decoration: none;
	width: 100%;
}
TR.submenuParent TD.leftBarNavItems A:hover,TR.submenuParent TD.leftBarNavItems A:active{
	color: #666666;
	text-decoration: underline;
	width: 100%;
}

TR.submenuParentSel TD.leftBarNavItems {
	color: #006600;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006600;
	padding: 3px;
	font-weight:bold;
	background-color:#E9FAD8;
}
TR.submenuParentSel TD.leftBarNavItems A:link,TR.submenuParentSel TD.leftBarNavItems A:visited{
	color: #006600;
	text-decoration: none;
	width: 100%;
	font-weight:bold;
}
TR.submenuParentSel TD.leftBarNavItems A:hover,TR.submenuParentSel TD.leftBarNavItems A:active{
	color: #006600;
	text-decoration: underline;
	width: 100%;
	font-weight:bold;
}
TR.submenu TD.leftBarNavLoc {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006600;
	width: 15px;
}
TR.submenuSel TD.leftBarNavLoc {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006600;
	background-image: url(../images/leftNavArrSel1.gif);
	background-repeat: no-repeat;
	width: 15px;
	background-color:#FEFEFE;
}
TR.submenuParent TD.leftBarNavLoc  {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006600;
	background-image: url(../images/leftNavArr.gif);
	background-repeat: no-repeat;
	width: 15px;
	background-color:#FFFFFF;	
}
TR.submenuParentSel TD.leftBarNavLoc {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006600;
	background-image: url(../images/leftNavArrSel.gif);
	background-repeat: no-repeat;
	width: 15px;
	background-color:#E9FAD8;
}
.mainBar {
	padding-left: 1px;
}
.whereBar {
	color: #000000;
	background-color: #FFFFFF;
	padding-left: 20px;
	height: 21px;
	padding-top: 2px;
	padding-right: 2px;
}
.whereBar A:link,.whereBar A:visited,.whereBar A:hover,.whereBar A:active{
	color: #000000;
	text-decoration: underline;

}
.whereBarBottom {
	background-color: #9F9E9F;
	height: 1px;
}
.mainBarContent {
	padding: 7px;
}
.tableAction1 {

	border-top: 1px solid #006600;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #f7f7f7;
}
.helper{
	cursor: help;
}
