<%@ Page Language="VB" AutoEventWireup="false" CodeFile="header.aspx.vb" Inherits="PresentationLayer_layout_Default" %>
<%@ Register Assembly="MessageBox" Namespace="Utilities" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Header</title>
    
  <style type="text/css">
<!--
#layUsername {
	position:absolute;
	left:74px;
	top:53px;
	width:234px;
	height:23px;
	z-index:1;
}

#layLogout {
	position:absolute;
	left:74px;
	top:100px;
	width:234px;
	height:23px;
	z-index:1;
}
-->
</style>

<SCRIPT LANGUAGE="JavaScript">     
      
      function MenuClick(){
        if (parent.frames.mainFrame.cols  == "20%,*"){
            parent.frames.mainFrame.cols  = "0%,*"
        }
        else
            parent.frames.mainFrame.cols  = "20%,*"
            
            
      }
        
   </SCRIPT>


</head>
<body>
    <form id="form1" runat="server">
    <div id="layUsername" style="left: 77px; top: 53px; height: 1px; width: 304px; text-align: left;" nowrap="noWrap">
    <asp:Label ID="lblUserName" runat="server" Height="1px" Width="299px" Font-Bold="True" Font-Size="Small"></asp:Label></div>
    <div id="layLogout" style="left: 77px; top: 66px; height: 2px; width: 195px; text-align: left;">
    <strong><span style="font-size: 10pt; color: #0000ff; text-decoration: underline;">    
   <asp:LinkButton ID="LnkLogout" runat="server"  ForeColor =red >Logout</asp:LinkButton>
   
    </span></strong>
     <div ID="linkMenu" OnClick="MenuClick()" style="position:absolute;top: 0px;left: 60px ">
                <strong style="cursor:hand; color:red;font-size: 10pt" >Hide/Display Menu</strong>
        </div>
    </div>
    
<div>    

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" valign="top" background="images/banner_bg.jpg" style="width: 30%">
            <div align="left"><img src="images/banner_left.jpg" width="336" height="90"></div>
        </td>
    
        <td width="29%" height="80" align="left" valign="top" background="images/banner_bg.jpg">&nbsp;
        </td>
        <td align="left" valign="top" background="images/banner_bg.jpg" style="width: 41%">
            <div align="right"><img src="images/banner_right.jpg" width="423" height="90"></div>
        </td>      
    
    </tr>
</table>
    </div>
    </form>
</body>
</html>
