﻿.amDOWN
{
	background-color: #9c9a63;
	border-bottom: 1.5pt inset;
	border-left: 1.5pt inset;
	border-right: 1.5pt inset;
	border-top: 1.5pt inset;
}
.amUP
{
	background-color: #776b7b;
	border-bottom: 1.5pt outset;
	border-left: 1.5pt outset;
	border-right: 1.5pt outset;
	border-top: 1.5pt outset;
}
.mOVER
{
	background-color: #776b7b;
	border-bottom: #460f0f 1pt outset;
	border-left: #ebebeb 1pt outset;
	border-right: #460f0f 1pt outset;
	border-top: #ebebeb 1pt outset;
	color: #ffffff;
	cursor: hand;
	vertical-align: middle;
}
.mOUT
{
	background-color: #776b7b;
	border-bottom: #776b7b 1pt solid;
	border-left: #776b7b 1pt solid;
	border-right: #776b7b 1pt solid;
	border-top: #776b7b 1pt solid;
	color: #ffffff;
	cursor: hand;
}
.mDOWN
{
	background-color: #776b7b;
	border-bottom: #ebebeb 1pt solid;
	border-left: #460f0f 1pt solid;
	border-right: #ebebeb 1pt solid;
	border-top: #460f0f 1pt solid;
	color: #ffffff;
	cursor: hand;
}
