.font {
	font-size: 12px;
	font-family: "Verdana";
	color: #000000;
}




BODY {
	SCROLLBAR-FACE-COLOR: #BFCBDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #E4EBF2;
	SCROLLBAR-SHADOW-COLOR: #303030;
	SCROLLBAR-3DLIGHT-COLOR: #000000;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #C8C8C8;

	SCROLLBAR-DARKSHADOW-COLOR: #000000
	FONT-SIZE: 12px;
	font-family: "Verdana";
	font-size: 12px;
	color: #000000;
}


td{font:9pt Verdana;}

.solidTable {
	border-style:solid;
	border-width:1px;
	border-collapse:collapse ;
	 border-color:#000000;
	font-size: 9pt;
}





.textborder {
	font-family: "Verdana";
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
	clip:  rect(   );
	border: 1px solid #507B9C;
	height: 20px;
	width: 150px;
}

	
.textarea {
	font-family: "Verdana";
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
	clip:  rect(   );
	border: 1px solid #507B9C;}


.textborderenter {
	background-color: FBFAF2;
	HEIGHT: 18px;
	width: 130px;
}

.borderBottomRight {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
}
.borderWhite {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #999999;
}
.borderBottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
.font10 {
	font-size: 10pt;
	

}
.textbg {
	background-color: ECEBEB;
	HEIGHT: 18px;
}

.BlackDiv 
{
	border: 1px solid #000000;
}
.DataGrid_Head
{
	background-color:#7892AC;
	color:#ffffff;
}

.DataGrid_AlterBody
{
	background-color:#ffffff;
}


.font01 {
	font-family: "Verdana";
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
}

.cursor {
	font-family: "Verdana";
	font-size: 12px;
	line-height: 17px;
	color: Blue ;
	text-decoration: none;
	cursor:hand; 
}
