﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="appointment.aspx.vb" Inherits="PresentationLayer_function_appointment_aspx" %>

<%@ Register Assembly="JCalendar" Namespace="JCalendar" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Appointment Schedule</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script language="JavaScript" src="../js/common.js"></script>
</head>
<body style="font-family: Verdana">
    <form id="form1" runat="server">
        <div style="vertical-align: top">
            <table style="width: 100%" border="0">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tr>
                                <td width="1%" background="../graph/title_bg.gif">
                                    <img height="24" src="../graph/title1.gif" width="5"></td>
                                <td class="style2" width="98%" background="../graph/title_bg.gif" style="width: 80%">
                                    <asp:Label ID="titleLab" runat="server" Text="Label"></asp:Label></td>
                                <td align="LEFT" background="../graph/title_bg.gif" style="width: 1%">
                                    <img height="24" src="../graph/title_2.gif" width="5"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="1" cellpadding="2" bgcolor="#b7e6e6" border="0" style="width: 100%">
                            <tr bgcolor="#ffffff">
                                <td align="LEFT" style="width: 20%">
                                    <asp:Label ID="apptTransNo" runat="server" Text="Label"></asp:Label>
                                </td>                                
                                <td style="width: 25%">
                                    <asp:DropDownList ID="apptTransTypeBox" runat="server">
                                        <asp:ListItem Selected="True"></asp:ListItem>
                                        <asp:ListItem>AS</asp:ListItem>
                                        <asp:ListItem>SS</asp:ListItem>
                                        <asp:ListItem>RS</asp:ListItem>
                                    </asp:DropDownList>
                                    <asp:TextBox ID="apptTransNoBox" runat="server" Width="80%" CssClass="textborder"
                                        MaxLength="20"></asp:TextBox>
                                </td>
                                <td style="width: 10%" align="LEFT" >
                                    <asp:Label ID="Label1" runat="server" Text="RMS No"></asp:Label></td>
                                <td style="width: 10%">
                                    <asp:TextBox ID="RMStxt" runat="server" CssClass="textborder" MaxLength="20" Width="70%"></asp:TextBox></td>
                                
                            </tr>
                            <tr bgcolor="#ffffff">
                                <td align="left" style="width: 20%; height: 30px">
                                    </td>
                                <td style="width: 25%; height: 30px">
                                    </td>
                                <td align="left" style="width: 10%; height: 30px">
                                    <asp:Label ID="lblCustomerName" runat="server" Text="Customer Name"></asp:Label></td>
                                <td style="width: 10%; height: 30px">
                                    <asp:TextBox ID="txtCustomerName" runat="server" Width="80%" CssClass="textborder"
                                        MaxLength="20"></asp:TextBox></td>
                            </tr>
                            
                            <tr bgcolor="#ffffff">
                                <td align="LEFT" style="width: 20%; height: 30px;">
                                    <asp:Label ID="lblCrID" runat="server" Text  ="CR ID"></asp:Label>
                                </td>                                
                                <td style="width: 25%; height: 30px;">
                                 <asp:TextBox ID="txtCrID" runat="server" Width="70%" CssClass="textborder"   MaxLength="20"></asp:TextBox>                                    
                                </td>
                                <td style="width: 10%; height: 30px;" align="LEFT" ><asp:Label ID="lblCustomerID" runat="server" Text="Customer ID"></asp:Label></td>
                                <td style="width: 10%; height: 30px;"><asp:TextBox ID="txtCustomerID" runat="server" Width="80%" CssClass="textborder"
                                        MaxLength="20"></asp:TextBox></td>
                                
                            </tr>
                            
                            <tr bgcolor="#ffffff">
                                <td align="LEFT" style="width: 20%">
                                    <asp:Label ID="apptStartDate" runat="server" Text="Label"></asp:Label>
                                </td>
                                <td style="width: 25%">
                                    <asp:TextBox ID="apptStartDateBox" runat="server" Width="70%" CssClass="textborder" MaxLength =10
                                        ReadOnly="false"></asp:TextBox><asp:HyperLink ID="HypCal" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif" ToolTip="Choose a Date">Choose a Date</asp:HyperLink>
                                    
                                    <cc1:JCalendar ID="apptStartDateJCalendar" runat="server" Visible=false ImgURL="~/PresentationLayer/graph/calendar.gif" ControlToAssign="apptStartDateBox" />
                                </td>
                                <td align="LEFT" style="width: 20%">
                                    <asp:Label ID="apptEndDate" runat="server" Text="Label"></asp:Label>
                                </td>
                                <td style="width: 25%">
                                    <asp:TextBox ID="apptEndDateBox" runat="server" Width="70%" CssClass="textborder" MaxLength =10
                                        ReadOnly="false"></asp:TextBox><asp:HyperLink ID="HypCal2" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif" ToolTip="Choose a Date">Choose a Date</asp:HyperLink>
                                    
                                    <cc1:JCalendar ID="apptEndDateCalendar" runat="server" Visible=false ImgURL="~/PresentationLayer/graph/calendar.gif" ControlToAssign="apptEndDateBox" />  
                                </td>
                               
                            </tr>
                            
                            <tr bgcolor="#ffffff">
                              <td align="LEFT" style="width: 20%"><span style="width: 10%">
                                <asp:Label ID="logInStartDate" runat="server" Text="Log In Start Date"></asp:Label>
                              </span>
                              
                              <td align="LEFT" style="width: 20%">
                              <asp:TextBox ID="logInStartDateBox" runat="server" Width="70%" CssClass="textborder" MaxLength =10
                                        ReadOnly="false"></asp:TextBox>
                                <asp:HyperLink ID="HypCal3" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif" ToolTip="Choose a Date">Choose a Date</asp:HyperLink>
                                <cc1:JCalendar ID="logInDateJCalendar" runat="server" Visible=false ImgURL="~/PresentationLayer/graph/calendar.gif" ControlToAssign="logInStartDateBox" />
                             
                             <td style="width: 10%">
								 	<asp:Label ID="logInEndDate" runat="server" Text="Log In End Date"></asp:Label>  
                              </td>
                                
                                <td ><asp:TextBox ID="logInEndDateBox" runat="server" Width="70%" CssClass="textborder" MaxLength =10
                                        ReadOnly="false"></asp:TextBox>
                                    <asp:HyperLink ID="HypCal4" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif" ToolTip="Choose a Date">Choose a Date</asp:HyperLink>
                                    <cc1:JCalendar ID="logInEndJCalendar" runat="server" Visible=false ImgURL="~/PresentationLayer/graph/calendar.gif" ControlToAssign="logInEndDateBox" />
                                </td>
                          </tr>
                            
                            <tr bgcolor="#ffffff">
                                <td align="LEFT" style="width: 20%">
                                    <asp:Label ID="lblTel" runat="server" Text="Tel"></asp:Label>
                                </td>                                
                                <td style="width: 25%">
                                 
                                    <asp:TextBox ID="txtTel" runat="server" Width="80%" CssClass="textborder"
                                        MaxLength="20"></asp:TextBox>
                                </td>
                                <td style="width: 10%" align="LEFT" ><asp:Label ID="lblSerialNo" runat="server" Text="Serial Number"></asp:Label></td>
                                <td style="width: 10%"><asp:TextBox ID="txtSerialNo" runat="server" Width="80%" CssClass="textborder"
                                        MaxLength="20"></asp:TextBox></td>
                                
                            </tr>
                            
                            
                            <tr bgcolor="#ffffff">
                                <td align="LEFT" style="width: 20%">
                                    <asp:Label ID="servID" runat="server" Text="Label"></asp:Label>
                                </td>
                                <td style="width: 35%">
                                    <%--Modified by Ryan Estandarte 29 Feb 2012--%>
                                <%--    <asp:DropDownList ID="servIDBox" runat="server" AutoPostBack="false" Width="99%">
                                    </asp:DropDownList>--%>
                                    <asp:DropDownList ID="servIDBox" runat="server" AutoPostBack="true" Width="99%" OnSelectedIndexChanged="servIDBox_SelectedIndexChanged"/>
                                </td>
                                <td align="LEFT" style="width: 20%">
                                    <asp:Label ID="apptStat" runat="server" Text="Label"></asp:Label>
                                </td>
                               <td style="width: 20%">
                                    <asp:DropDownList ID="apptStatDrop" Width="80%"  runat="server">
                                    </asp:DropDownList>
                                 </td>
                            </tr>
                            <tr bgcolor="#ffffff">
                                <td align="LEFT" style="width: 20%">
                                    <asp:Label ID="lblAppointmentType" runat="server" Text="Label"></asp:Label>
                                </td>
                                <td style="width: 35%">
                                    <asp:DropDownList ID="cboAppointmentType" runat="server" AutoPostBack="false" Width="99%">
                                    </asp:DropDownList></td>
                                <td align="LEFT" style="width: 20%">
                                    <asp:Label ID="lblTechnicianID" runat="server" Text="Technician ID"></asp:Label>
                                </td>
                                <td style="width: 20%; margin-left: 40px;" colspan="2">
                                    <asp:DropDownList ID="cboTechnician" runat="server" Width="100%">
                                    </asp:DropDownList></td>
                            </tr>
                            <%--Modified by Ryan Estandarte 12 Oct 2012--%>
                            <%--<tr>
                                <td style="width: 10%">  
                                    
                                </td>
                            </tr>--%>
								
                            <tr bgcolor="#ffffff">
                                <td align="LEFT" style="width: 20%" rowspan="2">
                                    <asp:Label ID="lblAreaID" runat="server" Text="Area ID"></asp:Label>
                                </td>
                                <td align="left" rowspan="2" style="width: 20%">
                                    <asp:DropDownList ID="cboAreaID" runat="server" Width="100%">
                                    </asp:DropDownList>
                                </td>
                                <td style="width: 10%">
                                    <asp:Label ID="lblInboundOutbound" runat="server"/>
                                    </td>
                                <td>
                                    <%--Modified by Ryan Estandarte 12 Oct 2012--%>
                                    <%--<asp:CheckBox ID="chkIsInbound" runat="server" Text="Yes?" />--%>
                                    <asp:RadioButtonList ID="rdoInboundOutbound" runat="server" RepeatDirection="Horizontal"/>
                                </td>
                            </tr>
                            <tr bgcolor="#ffffff">
                                <td style="width: 10%">
                                    <asp:LinkButton ID="searchButton" runat="server"></asp:LinkButton></td>
                                <td>
                                    <asp:LinkButton ID="lnkAddCustomer" PostBackUrl="~/PresentationLayer/masterrecord/addcustomer.aspx"
                                        runat="server">Add Customer</asp:LinkButton></td>
                            </tr>
                        </table>
                       
                        <asp:GridView ID="appsView" runat="server" Width="100%" AllowPaging="True" AllowSorting="True"
                            Font-Size="Smaller">
                        </asp:GridView>
                        
                        <asp:Label ID="lblNoRecord" runat="server" ForeColor="Red" Text="Label"></asp:Label>
                    </td>
                </tr>
                 <tr>
                <td align=left>
                    <asp:Label ID="lblTotalDescription" runat="server" Visible="true"></asp:Label>
                    &nbsp;<asp:Label ID="LblTotRecNo" runat="server" Visible="true" Text =0></asp:Label>
                    &nbsp; &nbsp;
                </td>
            </tr>
            </table>
        </div>
    </form>
</body>
</html>
