<%@ Page Language="VB" AutoEventWireup="false" CodeFile="dailyAreaZoningInfoRS.aspx.vb"
    Inherits="PresentationLayer_Function_dailyAreaZoningInfoRS" EnableEventValidation="false" %>

<%@ Register Assembly="JCalendar" Namespace="JCalendar" TagPrefix="cc2" %>
<%@ Register Assembly="MessageBox" Namespace="Utilities" TagPrefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Daily Area Zoning - Rental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" />
   <script language="JavaScript" src="../js/common.js"></script> 
</head>
<body>
    <form id="form1" runat="server">
        <table id="uagTab" border="0" width="100%">
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td background="../graph/title_bg.gif" style="width: 1%">
                                <img height="24" src="../graph/title1.gif" width="5" /></td>
                            <td background="../graph/title_bg.gif" class="style2" width="98%">
                                <asp:Label ID="titleLab" runat="server" Text="Label"></asp:Label></td>
                            <td align="right" background="../graph/title_bg.gif" width="1%">
                                <img height="24" src="../graph/title_2.gif" width="5" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td background="../graph/title_bg.gif" class="style2" width="98%" style="height: 14px">
                                <font color="red">
                                    <asp:Label ID="errlab" runat="server" Text="Label" Visible="False"></asp:Label></font></td>
                        </tr>
                    </table>
                    <asp:Label ID="lblNoteUP" runat="server" ForeColor="Red" Text="Label"></asp:Label></td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="1" cellpadding="2" bgcolor="#b7e6e6" border="0" width="100%">
                        <tr bgcolor="white">
                            <td align="right" style="width: 15%">
                                <asp:Label ID="SerCenterID" runat="server" Text="Label"></asp:Label></td>
                            <td style="width: 35%">
                                <font color="red">
                                    <asp:DropDownList ID="SerCenIDDrop" runat="server" Width="90%" AutoPostBack="True">
                                    </asp:DropDownList>*</font><asp:RequiredFieldValidator ID="SerCenIDerr" runat="server" ControlToValidate="SerCenIDDrop"
                                    Width="2px" ForeColor="White">*</asp:RequiredFieldValidator></td>
                            <td align="right" style="width: 15%">
                                <asp:Label ID="ApptDate" runat="server" Text="Label"></asp:Label></td>
                            <td style="width: 35%"> 
                                <asp:TextBox ID="ApptDateBox" runat="server" ReadOnly="false" Width="60%" MaxLength =10></asp:TextBox>
                               
                                <cc2:JCalendar ID="CalendaAppt" runat="server" ImgURL="~/PresentationLayer/graph/calendar.gif"
                                    ControlToAssign="ApptDateBox" Visible="False" />
                                <asp:HyperLink ID="HypCal" runat="server" ImageUrl="~/PresentationLayer/graph/calendar.gif"
                                    ToolTip="Choose a Date">Choose a Date</asp:HyperLink>
                            </td>
                            <td style="width: 10%">
                            </td>
                        </tr>
                        <tr bgcolor="white">
                            <td align="right" style="width: 15%">
                                <asp:Label ID="ToNoofTech" runat="server" Text="Label"></asp:Label></td>
                            <td style="width: 25%">
                                <asp:TextBox ID="ToNoTechBox" runat="server" Width="80%" Enabled="False"></asp:TextBox></td>
                            <td align="right" style="width: 20%">
                                <asp:Label ID="ZoneTypeLab" runat="server" Text="Label"></asp:Label></td>
                            <td style="width: 25%">
                                <asp:DropDownList ID="ZoneTypeDrp" Width="80%" runat="server" AutoPostBack="True">
                                </asp:DropDownList></td>
                            <td style="width: 10%">
                                <asp:LinkButton ID="btnLoad" runat="server"></asp:LinkButton></td>
                        </tr>
                        <tr bgcolor="white">
                            <td align="right" style="width: 15%">
                                <asp:Label ID="MasZoneCodeLab" runat="server" Text="Label" Visible="False"></asp:Label></td>
                            <td style="width: 35%">
                                <asp:DropDownList ID="MasZoneCodeDrop" runat="server" Width="80%" CausesValidation="True"
                                    Font-Bold="False" Visible="False">
                                </asp:DropDownList></td>
                            <td align="right" style="width: 15%">
                                <asp:Label ID="NorZoneCodeLab" runat="server" Text="Label" Visible="False"></asp:Label></td>
                            <td style="width: 35%">
                                <asp:TextBox ID="NorZoneCodeBox" runat="server" Width="80%" Visible="false" MaxLength="10"></asp:TextBox></td>
                            <td style="width: 10%">
                                <asp:LinkButton ID="btnCopy" runat="server" Visible="false"></asp:LinkButton>
                                
                                
                                
                                
                                </td>
                        </tr>
                        
                        <tr bgcolor="white">
                            <td align="right" style="width: 15%">
                                </td>
                            <td style="width: 35%">
                                </td>
                            <td align="right" style="width: 15%">
                                </td>
                            <td style="width: 35%">
                                <asp:LinkButton ID="bthCopyAll" runat="server" Visible="false" Text ="Copy All Zone"></asp:LinkButton>
                                
                                </td>
                            <td style="width: 10%">
                                </td>
                        </tr>
                        
                        
                    </table>
                    
                    <br />
                    
                    <asp:GridView ID="ZoneInfoView" runat="server" Width="100%" AllowPaging="True" AllowSorting="true"
                        Visible="False" AutoGenerateColumns="False">
                        <Columns>
                            <asp:TemplateField>
                                <ItemTemplate>
                                    <%#Container.DataItemIndex + 1%>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:BoundField DataField="FZN1_ZONID" />
                            <asp:BoundField DataField="AreaIDs" />
                            <asp:BoundField DataField="JobNO" />
                            <asp:TemplateField>
                                <ItemTemplate>
                                    <asp:LinkButton ID="btnSaveMas" CommandName="btnSaveMas" CommandArgument=<%#Container.DataItemIndex%> runat="server"></asp:LinkButton>
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Columns>
                    </asp:GridView><br />
                    <asp:Label ID="lblNoteDown" runat="server" ForeColor="Red" Text="Label"></asp:Label><br />
                    <asp:LinkButton ID="btnModify" runat="server" Visible="False"></asp:LinkButton>
                </td>
            </tr>
        </table>
        <asp:ValidationSummary ID="ValidationSummary1" runat="server" Width="160px" ShowMessageBox="True"
            ShowSummary="False" />
        <cc1:MessageBox ID="saveMsgBox" runat="server"></cc1:MessageBox>
        <cc1:MessageBox ID="InfoMsgBox" runat="server"></cc1:MessageBox>
        <cc1:MessageBox ID="CopyAllMsgBox" runat="server"></cc1:MessageBox>
    </form>
</body>
</html>
