﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="LoadStdStkList.aspx.vb" Inherits="PresentationLayer_function_test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
     <link href="../css/style.css" type="text/css" rel="stylesheet"/>
     <style type="text/css">A:link { COLOR: #336666; TEXT-DECORATION: none }
	BODY { FONT-SIZE: 9pt; FONT-FAMILY: "Arial", "Verdana", "Tahoma"; BACKGROUND-COLOR: #ffffff }
	td { FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma }
	</style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <div style="text-align: left">
        <table cellSpacing="0" cellPadding="0" width="100%" border="0">
		<tr>
		  <td width="1%" background="../graph/title_bg.gif" style="height: 24px"><IMG height="24" src="../graph/title1.gif" width="5"></td>
		  <td class="style2" width="98%" background="../graph/title_bg.gif" style="height: 24px">
             <asp:Label ID="titleLab" runat="server" Text="Label"></asp:Label></td>
		  <td align="right" width="1%" background="../graph/title_bg.gif" style="height: 24px"><IMG height="24" src="../graph/title_2.gif" width="5"></td>
		</tr>
		<tr>
		  <td></td>
		  <td>
		   <asp:Label ID="lblMessage" runat="server" ForeColor="red" Text=""></asp:Label>
		   </td> 
	   </tr>
	 </table>
        <table style="width: 100%">
            <tr>
                <td style="width: 100%">
                </td>
            </tr>
            <tr>
                <td style="width: 100%" align=center >
        <asp:FileUpload ID="FileUpload1" runat="server" Width="50%" />
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <asp:LinkButton ID="lbtnLoad" runat="server">load</asp:LinkButton></td>
            </tr>
        </table>
    
    </div><br/>
        <asp:LinkButton ID="lbtnback" runat="server">LinkButton</asp:LinkButton>
    </form>
</body>
</html>
